.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    font-family: "Lora", serif;
    cursor: pointer;
}

.nav-buttons{
    display: flex;
    gap: 30px;
}

.login-button, 
.signup-button{
    width: 100px;
    height: 35px;
    border: none;
    color: #f4f4f4;
    background-color: black;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.write-button{
    width: 80px;
    height: 35px;
    font-size: 15px;
    border: black solid 1px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-img{
    width: 35px;
    border-radius: 50%;
    object-fit: contain;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-img {
      display: none;
    }

    .login-button, 
    .signup-button{
        width: 80px;
        font-size: 13px;
    }

    .write-button{
        display: none;
    }
  }